body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    z-index: 2;
    overflow: shown;

  }
  #studyForm {
    position: relative;
    z-index: 10; /* Ensure the form appears above the blob */
  }
  #chillForm {
    position: relative;
    z-index: 10; /* Ensure the form appears above the blob */
  }

  #clock {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .timer {
    font-size: 2em;
    z-index: 1;
    color: black;
  }

  .blob {
    width: 10px; /* Larghezza del div .blob */
    height: 10px; /* Altezza del div .blob */
    margin: 10% auto; /* Margini: 10% sopra e sotto, centrato orizzontalmente */
    border-radius: 50%;
    background-color: transparent;
    position: relative; /* Posizionamento relativo: utilizzato per posizionare gli pseudo-elementi ::before e ::after rispetto a questo elemento */
    color: #fff; /* Colore del testo all'interno del div */
    display: flex; /* Display flex per centrare il contenuto (testo o altro) all'interno del div */
    justify-content: center; /* Allinea orizzontalmente il contenuto al centro */
    align-items: center; /* Allinea verticalmente il contenuto al centro */
    z-index: 0; /* Livello z-index, determina l'ordine di sovrapposizione degli elementi */
    animation-fill-mode: forwards;
}

 
@keyframes example1 {
0% {
  background-color: green;
  transform: scale(1);
  }
100% {
  background-color: red;
  transform: scale(4);}
}

@keyframes example2 {
0% {
  background-color: red;
  transform: scale(4);
  }
100% {
  background-color: green;
  transform: scale(1);}
}